@font-face {
  font-family: 'caviar';
  src: url(images/CaviarDreams.ttf);
}
@font-face {
  font-family: 'mont';
  src: url(images/Mont-HeavyDEMO.otf);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'mont';
}
.main{
  position: relative;
  width: 100%;
  height:100vh;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bg.png);
}
nav{
  display: flex;
  width: 1250px;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content:flex-end;
}

nav a{
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: rgb(176, 164, 164);
  font-weight: bold;
  font-family: 'caviar';
} 
.name {
  width: 90px;
  height: 30px;
  object-fit: cover;
}
.intro{
  margin-left: 50%;
  margin-top: 19%;
}
.intro h1{
  font-size: 50px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
span {
  font-family:'mont';
  color: rgb(202, 202, 222);
}
.intro p{
  color: rgb(197, 193, 193);
  font-family:'caviar';
  line-height: 30px;
}
.aboutme{
  background: white;
}
.aboutme h1{
  line-height: 100px;
  margin-left: 45%;
}
.aboutme img{
  left: 5%;
  bottom: 90;
  height: 50%;
  position: absolute;
  border-radius: 50%;
}
.aboutme table{
  width: 50%;
  margin-left: 40%;
}
.aboutme .right{
  text-align: center;
  font-family: 'caviar';
  font-size: 20px;
  margin-left: 20%;
}
.hobby h2{
  line-height: 100px;
  margin-left: 62%;
}
.row{
  display:flex;
  margin-left: 32%;
  justify-content: space-between;
}
.col{
  flex-basis: 24%;
  background: rgb(208, 206, 206);
  border-radius: 30px;
  margin-bottom: 5%;
  padding: 20px 12px;
}
.col h3{
  text-align: center;
}
.hobby p{
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding:10px;
  font-family: 'caviar';
  text-align: center;
}
.hobby .danceimg{
  bottom: 90%;
  width: 210px;
  object-fit: contain;

}
.hobby .pottery{
  bottom: 90%;
  width: 210px;
  height: 10%;
  object-fit: cover;
}
.hobby .music{
  bottom: 90%;
  width: 210px;
  object-fit: contain;
}
.aboutfam{
  background: rgb(10, 10, 39);
  margin: auto;
  padding-top: 50px;
}
.aboutfam h1{
  line-height: 100px;
  margin-left: 45%;
  color: white;
}
.aboutfam .row{
  display:flex;
  margin-left: 6%;
  justify-content: space-between;
  width: 90%;
}
.famcol{
  flex-basis: 28%;
  border-radius: 10px;
  margin-bottom: 70px;
  position: relative;
  overflow: hidden;
  
}
.famcol img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.layer{
  background: transparent;
  height: 100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  transition: 0.5s;
}
.layer:hover{
  background: rgb(213, 213, 227);
}
.layer p{
  width: 100%;
  color: white;
  font-size: 16px;
  font-family: 'caviar';
  bottom: 0;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover p{
  bottom:49%;
  opacity: 1;
}
.rowdy h1{
  line-height: 100px;
  margin-left: 45%;
}

.rowdy table{
  width: 50%;
  margin-left: 27%;
}
.rowdy .right{
  text-align: center;
  font-family: 'caviar';
  font-size: 27px;
  margin-left: 20%;
}
.rowdy img{
  left: 5%;
  bottom: 90;
  height: 50%;
  position: absolute;
}
.rowdy .rowdy2{
  left: 20%;
  height: 300px;
  width: 900px;
  object-fit: cover;

}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(213, 213, 227);
  color: white;
  text-align: center;
  
}